<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bootdemo.dao.ArticleMapper">

    <resultMap id="articleResult" type="bootdemo.entity.Article">
        <id property="id" column="id" />
        <association property="user" column="uid" select="bootdemo.dao.UserMapper.findById" />
        <association property="type" column="typeID" select="bootdemo.dao.ArticleTypeMapper.findById" />
    </resultMap>


</mapper>