<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bootdemo.dao.FavMapper">

    <resultMap id="favResult" type="bootdemo.entity.Fav">
        <id property="id" column="id" />
        <association property="article" column="articleID" select="bootdemo.dao.ArticleMapper.findById" />
        <association property="type" column="typeID" select="bootdemo.dao.FavMapper.findTypeById" />
    </resultMap>


</mapper>